EXPO_PUBLIC_SUPABASE_URL=url
EXPO_PUBLIC_SUPABASE_ANON_KEY=key
EXPO_PUBLIC_USE_MOCK_DATA=false
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://yourcompany.com/privacy
EXPO_PUBLIC_TERMS_OF_SERVICE_URL=https://yourcompany.com/terms

